<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/css/subscribe7.css">
    <title>Red Flower</title>
</head>
<body>
    <form method="get" accept-charset="utf-8" id="form">

        <fieldset class="row">
            <div class="column">


                <div id="cottrai">
                    <img id="std" src="../../static/image/sod.png"><br>
                    <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" ><br>
                    <img id="tim" src="../../static/image/tim.png"><br>
                    <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br>
                    <label>Hôn lễ được tổ chức vào hồi :</label><br>
                    <input class="input_form_time" type="text" placeholder="Thứ," >
                    <label>Ngày</label>
                    <input class="input_form_time" name="ngay" type="text">
                    <label>Tháng</label>
                    <input class="input_form_time" name="thang" type="text">
                    <label>Năm</label>
                    <input class="input_form_time" name="nam" type="text"><br>
                    <input class="input_form" type="text" placeholder="(Tức ngày...)" ><br>
                    <label>Tại :</label><input class="input_form" name="diadiem" type="text"><br>
                    <input class="input_form" type="text" placeholder="Địa chỉ"><br>
                    <label>Đón khách :</label><input class="input_form_time" type="text">
                    <label>Khai Tiệc :</label><input class="input_form_time" type="text">
                    <p id="hhdt">Rất Hân Hạnh Được Đón Tiếp!</p>
                </div>
                <img id="hoaduoi" src="../../static/image/hoaduoi.png"><br>

            </div>

            <div class="column">
                <img id="hoatren" src="../../static/image/hoatren.png"><br>
                <div class="row1">
                    <div class="column1">
                        <label>Nhà Trai</label><br>
                        <label>Ông:</label>
                        <input class="input_form" name="tenbachure" type="text"><br>
                        <label>Bà: </label>
                        <input class="input_form" name="tenbachure" type="text"><br>
                        <label >Đ/c: </label>
                        <input class="input_form" name="tenchure" type="text">
                    </div>
                    <div class="column1">
                        <label>Nhà Gái</label><br>
                        <label>Ông :</label>
                        <input class="input_form" name="tenbacodau" type="text"><br>
                        <label>Bà :</label>
                        <input class="input_form" name="tenmecodau" type="text"> <br>
                        <label >Đ/c: </label>
                        <input class="input_form" name="tenchure" type="text">
                    </div>
                </div>
                <p>TRÂN TRỌNG BÁO TIN</p>
                <P>LỄ VU QUY</P>
                <p>CỦA CON CHÚNG TÔI</p>
                <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" ><br>
                <img id="tim" src="../../static/image/tim.png"><br>
                <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br>
                <label>Hôn lễ được cử hành tại tư gia</label><br>
                <label>Vào lúc :</label><input class="input_form" name="thoigian" type="text"><br>
                <input class="input_form_time" type="text" placeholder="Thứ" >
                <label>Ngày</label>
                <input class="input_form_time" name="ngay" type="text">
                <label>Tháng</label>
                <input class="input_form_time" name="thang" type="text">
                <label>Năm</label>
                <input class="input_form_time" name="nam" type="text"><br>
                <input class="input_form" type="text" placeholder="(Nhằm ngày...)" >

            </div>
        </fieldset>

    </form>
    <center><input id="submit" type="submit" value="Gửi"></center>

</body>
</html>
