{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="../../static/css/base.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> {% block title %}{% endblock %}</title>

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../../static/images/logoo.png" alt="" width="150px">
                </div>
                <nav>
                    <ul>
                        <li><a class="fa fa-home" href="{% url 'home' %}">Home</a></li>
                        <li><a class="fa fa-newspaper-o" href="{% url 'product' %}">Danh mục</a></li>
                        <li><a class="fa fa-info" href="{% url 'introduce' %}">Giới Thiệu</a></li>
                        <li><a class="fa fa-phone" href="{% url 'contact' %}">Liên hệ</a></li>
                    </ul>
                    <div class="login">

                        {% if user.username %}
                            <li>Xin chào {{ user.username }}</li>
                            <li><a class="fa fa-sign-out" href="{% url 'logout' %}"> Đăng xuất</a></li>
                            <li><a class="fa fa-user-circle-o" href="{% url 'profile' %}"></a></li>

                        {% else %}
                            <li><a class="fa fa-user-plus" href="{% url 'register' %}"> Đăng kí</a></li>
                            <li><a class="fa fa-sign-in" href="{% url 'login' %}"> Đăng nhập</a></li>
                        {% endif %}
                    </div>
                </nav>
            </div>

            {% block content %}
            {% endblock content %}


        </div>
    </div>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Contact</h3>
                    <p class="fa fa-envelope-o">Email: Punxd@gmail.com</p><br><br>
                    <p class="fa fa-mobile">SĐT: 0962276766</p><br><br>
                    <p class="fa fa-map-marker">Đ/C: Dakao, Q1, TP.HCM</p>
                </div>
                <div class="footer-col-2">
                    <img src="../../static/images/logoo.png" alt="">
                    <p> It only takes 3 seconds to say “I LOVE YOU”, but all one’s life to prove it,</p>
                    <p>Let us and you prove it</p>
                </div>
                <div class="footer-col-3">
                    <h3>Follow Us</h3>
                    <div class="social-links">
                            <a href="https://www.facebook.com/punpunxdnhmt/"><i class="fa fa-facebook"></i> </a> Facebook<br>
                            <a href="#"><i class="fa fa-twitter"></i></a> Twitter<br>
                            <a href="https://www.instagram.com/pun_xgnhmt/"><i class="fa fa-instagram"></i> </a>Instagram
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>