{% extends "pages/base.html" %}
{%block title %}Home{% endblock  %}
{% block content %}

    <link rel="stylesheet" href="../../static/css/contact.css" type = "text/css">

    <h2 class="title">CONTACT</h2>
<center class="contact">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <p>Email: Punxd@gmail.com</p><br><br>
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <p>SĐT: 0962276766</p><br><br>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p>Đ/C: Dakao, Q1, TP.HCM</p>
</center>





{% endblock content %}

trong pycharm ha?