{% extends "pages/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <link rel="stylesheet" href="../../static/css/introduce.css" type="text/css">

    <div class="intro">
        <h1 class="title">OUR CORE VALUES</h1>

        <div class="row_introduce">

            <center>
                <div class="column">
                    <div class="trentrai">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <h2>Chất lượng</h2>
                        <p>Chính sức mạnh không giới hạn để săn sóc và yêu thương<br>
                            sẽ tạo ra khác biệt lớn nhất trong chất lượng mà chúng tôi muốn đem đến.</p>
                    </div>
                    <div class="duoitrai">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <h2>Sự đổi mới</h2>
                        <p>Trí tưởng tượng không trở nên lớn lao cho tới khi chúng tôi, <br>
                            với lòng can đảm và sức mạnh, sử dụng nó để sáng tạo.</p>
                    </div>
                </div>
            </center>

            <center>
                <div class="column1">
                    <div class="trenphai">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <h2>Nhiệm vụ</h2>
                        <p>Triết lý của chúng tôi không được thể hiện tốt nhất bằng ngôn từ;<br>
                            nó được thể hiện trong những lựa chọn của bạn...<br>
                            và những lựa chọn của bạn chính là trách nhiệm của chúng tôi.</p>
                    </div>
                    <div class="duoiphai">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <h2>Cộng đồng</h2>
                        <p>Một đội ngũ thành công là nhiều bàn tay và một trí tuệ.</p>


                    </div>
                </div>
            </center>
        </div>
    </div>


{% endblock content %}