
{% extends "pages/base.html" %}
{%block title %}Home{% endblock  %}
{% block content %}
    <link rel="stylesheet" href="../../static/css/product.css" type = "text/css">

    <div class="small-container">

         <h2 class="title">Simple Wedding Card</h2>
            <div class="row_product">
                <div class="col-4">
                    <img src="../../static/images/thiep1.PNG" alt="">
                    <h4>Butterfly</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <a href="{% url 'subscribe' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep2.PNG" alt="">
                    <h4>Purple Heart</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <a href="{% url 'subscribe2' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep3.PNG" alt="">
                    <h4>Purple</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <a href="{% url 'subscribe3' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep9.PNG" alt="">
                    <h4>Rainbow</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <a href="{% url 'subscribe4' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep10.PNG" alt="">
                    <h4>Blossom</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <a href="{% url 'subscribe5' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep11.PNG" alt="">
                    <h4>Baloon</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <a href="{% url 'subscribe6' %}" class="btn1">Chọn</a>
                </div>
            </div>



            <h2 class="title">Luxury Wedding Card</h2>
            <div class="row_product">
                <div class="col-4">
                    <img src="../../static/images/thiep4.PNG" alt="">
                    <h4>Red Flower</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="{% url 'subscribe7' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep5.PNG" alt="">
                    <h4>Peach Blossom</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <a href="{% url 'subscribe8' %}" class="btn1">Chọn</a>
                </div>

            </div>
            <div class="row_product">
                <div class="col-4">
                    <img src="../../static/images/thiep6.PNG" alt="">
                    <h4>Blue Flowers</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="{% url 'subscribe9' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep7.PNG" alt="">
                    <h4>Pink Flowers</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <a href="{% url 'subscribe10' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep8.PNG" alt="">
                    <h4>Blossom</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <a href="{% url 'subscribe11' %}" class="btn1">Chọn</a>
                </div>
                <div class="col-4">
                    <img src="../../static/images/thiep12.PNG" alt="">
                    <h4>Purple Flowers</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="{% url 'subscribe12' %}" class="btn1">Chọn</a>
                </div>
            </div>
        </div>


{% endblock content %}