<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/css/subscribe10.css">
    <title>Pink Flowers</title>
</head>
<body>
    <form method="get" accept-charset="utf-8" id="form">

        <fieldset class="row">
            <div class="column">
                <div class="cottrai">
                    <img id="hoatrai" src="../../static/image/trai10.png"><br>
                    <p class="thep">TRÂN TRỌNG KÍNH MỜI</p>
                    <input class="input_form" type="text">
                    <p class="thep">ĐẾN DỰ BỮA TIỆC CHUNG VUI CÙNG GIA ĐÌNH CHÚNG TÔI</p>
                    <label>Tại </label>
                    <input class="input_form" name="diadiem" type="text"><br><br>
                    <input class="input_form" name="diadiem" type="text" placeholder="Địa Chỉ"><br><br>
                    <label>Vào lúc :</label><br>
                    <input class="input_form_time" type="text" placeholder="Giờ"><br>
                    <input class="input_form_time" type="text" placeholder="Thứ">
                    <label>&#8722;</label>
                    <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" type="text" placeholder="(Nhằm ngày...)">
                    <p id="km">Sự hiện diện của quý vị là niềm vinh hạnh của gia đình chúng tôi!</p>
                </div>
            </div>

            <div class="column">
                <img id="hoaphai" src="../../static/image/phai10.png"><br>
                <div id="cotphai">
                    <label>Ông:</label>
                    <input class="input_form" name="tenbachure" type="text">
                    <label>&#38; </label>
                    <label>Bà: </label>
                    <input class="input_form" name="tenbachure" type="text"><br>
                    <label>Ông:</label>
                    <input class="input_form" name="tenbachure" type="text">
                    <label>&#38; </label>
                    <label>Bà: </label>
                    <input class="input_form" name="tenbachure" type="text"><br>

                    <p class="thep">TRÂN TRỌNG BÁO TIN</p>
                    <P class="thep">LỄ THÀNH HÔN CỦA HAI CON CHÚNG TÔI</P>
                    <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" ><br>
                    <img id="tim" src="../../static/image/tim10.png"><br>
                    <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br>
                    <P class="thep">HÔN LỄ ĐƯỢC TỔ CHỨC TẠI TƯ GIA VÀO LÚC</P>
                    <input class="input_form_time" name="thoigian" type="text" placeholder="Giờ">
                    <label>&#8722;</label>
                    <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" name="thoigian" type="text" placeholder="Nhằm ngày..."><br>
                </div>

            </div>


        </fieldset>

    </form>
    <center><input id="submit" type="submit" value="Gửi"></center>

</body>
</html>
