<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/css/subscribe9.css">
    <title>Blue Flowers</title>
</head>
<body>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <fieldset class="row">
            <div class="column">
                <div class="cottrai">
                    <p id="tm">Thiệp Mời</p>
                    <img id="hoatrai" src="../../static/image/hoaphai.png"><br>
                    <p class="thep">TRÂN TRỌNG KÍNH MỜI</p>
                    {% comment %} <input class="input_form" type="text"> {% endcomment %}
                    <div class="input_form">{{ form.name }}</div>
                    <p class="thep">Email</p>
                    {% comment %} <input class="input_form" type="text"> {% endcomment %}
                    <div class="input_form">{{form.email}}</div>
                    <p class="thep">ĐẾN DỰ BỮA TIỆC CHUNG VUI CÙNG GIA ĐÌNH CHÚNG TÔI</p>
                    <label>Tại </label>
                    <input class="input_form" name="diadiem" type="text"><br><br>
                    <input class="input_form" name="diadiem" type="text" placeholder="Địa Chỉ"><br><br>
                    <label>Vào lúc :</label><br>
                    <input class="input_form_time" type="text" placeholder="Giờ"><br>
                    <input class="input_form_time" type="text" placeholder="Thứ">
                    <label>&#8722;</label>
                    <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" type="text" placeholder="(Nhằm ngày...)">
  
                </div>
            </div>

            <div class="column">
                <img id="hoaphai" src="../../static/image/traii.png"><br>
                <div id="cotphai">
                    <div class="row1">
                        <div class="column1">
                            <label>Nhà Trai</label><br>
                            <label>Ông:</label>
                            <input class="input_form" name="tenbachure" type="text"><br>
                            <label>Bà: </label>
                            <input class="input_form" name="tenbachure" type="text"><br>
                        </div>
                        <div class="column1">
                            <label>Nhà Gái</label><br>
                            <label>Ông :</label>
                            <input class="input_form" name="tenbacodau" type="text"><br>
                            <label>Bà :</label>
                            <input class="input_form" name="tenmecodau" type="text"> <br>
                        </div>
                    </div>
                    <p class="thep">TRÂN TRỌNG BÁO TIN</p>
                    <P class="thep">LỄ THÀNH HÔN CỦA HAI CON CHÚNG TÔI</P>
                    <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" ><br>
                    <img id="tim" src="../../static/image/tim.png"><br>
                    <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br>
                    <P class="thep">HÔN LỄ ĐƯỢC TỔ CHỨC TẠI TƯ GIA VÀO LÚC</P>
                    <div class="form-group">{{form.time}}</div>
                    {% comment %} <input class="input_form_time" name="thoigian" type="text" placeholder="Giờ"> {% endcomment %}
                    <label>&#8722;</label>
                    {% comment %} <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" name="thoigian" type="text" placeholder="Nhằm ngày..."><br> {% endcomment %}
                    <div class="form-group">{{form.day}}</div>
                    <label>Tháng</label>
                    <div class="form-group">{{form.month}}</div>
                    <label>Năm</label>
                    <div class="form-group">{{form.year}}</div>
                    <label>Tại :</label><br />
                    <div class="form-group">{{form.address}}</div>
                </div>
            </div>
        </fieldset>
          <div class="form-group">
        <p>
          <center><h3>{{ form.as_p }}</h3></center>
        </p>
    <center><input id="submit" type="submit" value="Gửi"></center>
    </form>
    
</body>
</html>
