<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/css/subscribe3.css">
    <title>Purple</title>
</head>
<body>
    <form method="get" accept-charset="utf-8" id="form">
        <fieldset class="row">
            <div class="column">
                <br>
                <div id="cottrai">
                    <img id="wd" src="../../static/image/imgbin_wedding-logo-png.png"><br>
                    <label>Được tổ chức vào hồi :</label>
                    <input class="input_form_time" name="thoigian" type="text"><br>
                    <label>Ngày</label>
                    <input class="input_form_time" name="ngay" type="number">
                    <label>Tháng</label>
                    <input class="input_form_time" name="thang" type="number">
                    <label>Năm</label>
                    <input class="input_form_time" name="nam" type="number"><br>
                    <label>Tại :</label>
                    <input class="input_form" name="diadiem" type="text" >
                    <p id="hhdt">Rất Hân Hạnh Được Đón Tiếp</p>
                </div>
            </div>

            <div class="column">
                <h1 id="ttkm">Trân Trọng Kính Mời Quý Khách</h1>
                <input class="input_form" name="tenkhach" type="text">
                <p id="ddbt">Đến dự bữa tiệc thân mật chung vui cùng gia đình chúng tôi</p>
                <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" >
                <img id="tim" src="../../static/image/teamo.png">
                <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br><br>
                <label>Được tổ chức vào hồi :</label>
                <input class="input_form_time" name="thoigian" type="text"><br>
                <label>Ngày</label>
                <input class="input_form_time" name="ngay" type="number">
                <label>Tháng</label>
                <input class="input_form_time" name="thang" type="number">
                <label>Năm</label>
                <input class="input_form_time" name="nam" type="number"><br>
                <label>Tại :</label>
                <input class="input_form" name="diadiem" type="text">
                <p id="hhdt"> Sự hiện diện của quý khách là niềm vinh hạnh cho gia đình chúng tôi! </p>

                <div class="row1">
                    <div class="column1">
                        <label>Nhà Trai</label><br>
                        <label>Ông:</label>
                        <input class="input_form" name="tenbachure" type="text"><br>
                        <label>Bà: </label>
                        <input class="input_form" name="tenbachure" type="text"><br>
                        <label >Đ/c: </label>
                        <input class="input_form" name="tenchure" type="text">
                    </div>
                    <div class="column1">
                        <label>Nhà Gái</label><br>
                        <label>Ông :</label>
                        <input class="input_form" name="tenbacodau" type="text"><br>
                        <label>Bà :</label>
                        <input class="input_form" name="tenmecodau" type="text"> <br>
                        <label >Đ/c: </label>
                        <input class="input_form" name="tenchure" type="text">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <center><input id="submit" type="submit" value="Gửi"></center>


</body>
</html>