<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/css/subscribe5.css">
    <title>Blossom</title>
</head>
<body>
    <form method="get" accept-charset="utf-8" id="formDemo">
        <fieldset class="row">
            <div class="column">
                <img id="hoatrai" src="../../static/image/tren.png">
                <div class="cottrai">
                    <p class="thep">TRÂN TRỌNG KÍNH MỜI</p>
                    <input class="input_form" type="text">
                    <p class="thep">ĐẾN DỰ BỮA TIỆC CHUNG VUI CÙNG GIA ĐÌNH CHÚNG TÔI</p>
                    <label>Tại </label>
                    <input class="input_form" name="diadiem" type="text"><br><br>
                    <input class="input_form" name="diadiem" type="text" placeholder="Địa Chỉ"><br><br>
                    <label>Vào lúc :</label><br>
                    <center><table>
                        <tr>
                            <td></td>
                            <td colspan="2"><input class="time" name="thang" type="text" placeholder="Tháng"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="1"><input class="input_form_time" name="gio" type="text" placeholder="Giờ"></td>
                            <td rowspan="2"><input id="ngay" name="ngay" type="text" placeholder="Ngày"></td>
                            <td colspan="1"><input class="input_form_time" name="ngay" type="text" placeholder="Tức Ngày"></td>

                        </tr>
                        <tr>
                            <td colspan="1"><input class="input_form_time" name="thu" type="text" placeholder="Thứ"></td>
                            <td colspan="1"><input class="input_form_time" name="nam" type="text" placeholder="(Năm Âm)"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><input class="time" name="nam" type="text" placeholder="Năm Dương"></td>
                            <td></td>
                        </tr>
                    </table></center>
                    <p class="km">Sự hiện diện của quý vị là niềm vinh hạnh của gia đình chúng tôi!</p>
                    <p class="km">Kính mời</p>
                </div>
            </div>


            <div class="column">
                <img id="hoaphai" src="../../static/image/phai.png"><br>

                <div class="cotphai">
                    <div class="row1">
                        <div class="column1">
                            <label>Nhà Trai</label><br>
                            <label>Ông:</label>
                            <input class="input_form" name="tenbachure" type="text"><br>
                            <label>Bà: </label>
                            <input class="input_form" name="tenbachure" type="text"><br>
                        </div>
                        <div class="column1">
                            <label>Nhà Gái</label><br>
                            <label>Ông :</label>
                            <input class="input_form" name="tenbacodau" type="text"><br>
                            <label>Bà :</label>
                            <input class="input_form" name="tenmecodau" type="text"> <br>
                        </div>
                    </div>
                    <P class="thep">TRÂN TRỌNG BÁO TIN</P>
                    <p class="thep">LỄ THÀNH HÔN CỦA HAI CON CHÚNG TÔI</p>
                    <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" ><br>
                    <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br>
                    <p>HÔN LỄ ĐƯỢC TỔ CHỨC TẠI TƯ GIA VÀO LÚC</p>
                    <input class="input_form_time" type="text" placeholder="Giờ"><br>
                    <input class="input_form_time" type="text" placeholder="Thứ">
                    <label>&#8722;</label>
                    <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" type="text" placeholder="(Nhằm ngày...)">
                </div>

            </div>

        </fieldset>

    </form>
    <center><input id="submit" type="submit" value="Gửi"></center>

</body>
</html>