<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/css/subscribe8.css">
    <title>Peach Blossom</title>
</head>
<body>
    <form method="get" accept-charset="utf-8" id="form">

        <fieldset class="row">
            <div class="column">
                <img id="traitren" src="../../static/image/traitren.png"><br>

                <div id="cottrai">
                    <div class="row1">
                        <div class="column1">
                            <label>Nhà Trai</label><br>
                            <label>Ông:</label>
                            <input class="input_form" name="tenbachure" type="text"><br>
                            <label>Bà: </label>
                            <input class="input_form" name="tenbachure" type="text"><br>
                        </div>
                        <img id="chuhy" src="../../static/image/hy.png"><br>

                        <div class="column1">
                            <label>Nhà Gái</label><br>
                            <label>Ông :</label>
                            <input class="input_form" name="tenbacodau" type="text"><br>
                            <label>Bà :</label>
                            <input class="input_form" name="tenmecodau" type="text"> <br>
                        </div>
                    </div>
                    <p>TRÂN TRỌNG BÁO TIN</p>
                    <P>LỄ VU QUY CỦA CON CHÚNG TÔI</P>
                    <input class="input_form" id="tenchure" type="text" placeholder="Chú rể" ><br>
                    <img id="tim" src="../../static/image/LoveHeart.png"><br>
                    <input class="input_form" id="tencodau" type="text" placeholder="Cô dâu"><br>
                    <P>HÔN LỄ ĐƯỢC TỔ CHỨC TẠI TƯ GIA VÀO LÚC</P>
                    <input class="input_form_time" name="thoigian" type="text" placeholder="Giờ">
                    <label>&#8722;</label>
                    <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" name="thoigian" type="text" placeholder="Nhằm ngày..."><br>
                </div>

            </div>

            <div class="column">
                <img id="phaitren" src="../../static/image/phaitren.png"><br>

                <div class="cotphai">
                    <img id="hinhcuoi" src="../../static/image/hinhcuoi.png"><br>
                    <p>TRÂN TRỌNG KÍNH MỜI</p>
                    <input class="input_form" type="text">
                    <p>ĐẾN DỰ BỮA TIỆC CHUNG VUI CÙNG GIA ĐÌNH CHÚNG TÔI</p>
                    <label>Tại </label>
                    <input class="input_form" name="diadiem" type="text"><br>
                    <input class="input_form" name="diadiem" type="text" placeholder="Địa Chỉ"><br>
                    <label>Vào lúc :</label><br>
                    <input class="input_form_time" type="text" placeholder="Giờ">
                    <label>&#8722;</label>
                    <input class="input_form_time" type="text" placeholder="Thứ">
                    <label>&#8722;</label>
                    <input class="input_form" name="thoigian" type="text" placeholder="Ngày-Tháng-Năm"><br>
                    <input class="input_form" type="text" placeholder="(Nhằm ngày...)">
                    <p class="km">Sự hiện diện của quý vị là niềm vinh hạnh của gia đình chúng tôi!</p>
                    <p class="km">Kính mời</p>
                </div>

            </div>
        </fieldset>

    </form>
    <center><input id="submit" type="submit" value="Gửi"></center>

</body>
</html>
